<h1><%= @addresses.type() %></h1>
<h1><%= @addresses.street() %></h1>
<h1><%= @addresses.city() %></h1>
<h1><%= @addresses.state() %></h1>
<h1><%= @addresses.zip() %></h1>

<a href="/contacts">Contacts</a>
<a href="/">Home</a>
