<div class="col-md-6">
  <form action="/single_contact" method="post">
    <h3>Add an address to this contact:</h3>
    <div class="form-group">
      <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>
      <label for="street">Street:</label>
      <input class="form-control" type="text" name="street" id="street">
      <label for="city">City:</label>
      <input class="form-control" type="text" name="city" id="city">
      <label for="state">State:</label>
      <input class="form-control" type="text" name="state" id="state">
      <label for="zip">zip:</label>
      <input class="form-control" type="text" name="zip" id="zip">
      <label for="type">Type:</label>
      <input class="form-control" type="text" name="type" id="type">
    </div>
    <button type="submit" name="button">Add</button>
  </form>

</div>
<div class="col-md-6">
  <h1><%= @contact.first_name() %></h1>
  <h1><%= @contact.last_name() %></h1>
  <h1><%= @contact.job_title() %></h1>
  <h1><%= @contact.company() %></h1>
  <ul>
    <% @contact.address.each() do |one_address| %>
    <li><a href="/single_address/<%= one_address.id%>"> <%= one_address.type()%></a></li>
    <% end %>
  </ul>
</div>





<a href="/">Home</a>
